
.shopping-button{
    width: 70px;
height: 43px;
border-radius: 11px;
    background: rgb(254, 220, 208);}

.shopping-button-books{
    width: 70px;
height: 43px;
border-radius: 11px;
    background: rgb(254, 220, 208);}

    .shopping-button-videos{
        width: 70px;
    height: 43px;
    border-radius: 11px;
        background: rgb(254, 220, 208);}

        .shopping-button-accessories {
            width: 137px;
height: 43px;
background: rgb(255, 241, 236);
border-radius: 11px;
        }

        .shopping-button-select {
color:aliceblue;
        }


.shopping-title {

    //color: rgb(254, 125, 78);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 30px;

}

.bag-icon {
    position: absolute;
    top: 40px; right: 20px;
}


.shopping-grid {
 margin-top: 20px;
 padding: 0%;
 --ion-grid-padding	:0;
}
.shoppingitem-card {
  //  margin-top: 30px;    
    width: 120px;
    height: 180px;
    background-color: #f6f6f9;
    border-radius: 7px;
    margin-left: 10px;
    width: 90%;
    opacity: 100%;

}

.shoppingitem-text {
 margin-left : 10px;
 text-align: justify;
font-size: 12px;
width: 90%;
padding-left: 2px;
padding-right: 2px;

}

.shoppingitem-price{
    margin-left : 30px;
width: 43px;
height: 18px;
color: rgb(254, 125, 78);
font-size: 14px;
font-weight: 300;
letter-spacing: 0px;
line-height: 20px;
background-color: #f6f6f9;
border-radius: 5px;
padding: 3px;
}

.price-box {
    width: 48px;
    height: 21px;
    background: rgb(254, 125, 78);
    opacity : 40%;
    border-radius: 5px;

}

.book-img{
    width: 114px;
height: 171px;
margin-top: 30px;
margin-left : 20px;
margin-bottom: 0px;
bottom: 0;
}

.emptycard-shopping {
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.21);
    border-radius: 50px 50px 0px 0px;
    margin-top: 170px;
    margin-left:0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 36px;
    border: 0px solid #000000;

  }
