

.card-img {
    width: 589px;
    height: 397px;
    box-sizing :initial;
}

.card-subtitle{
   background: #fe7d4e;
    color: rgb(255, 255, 255);
    width: 80px;
    height: 30px;
    border-radius: 7px;
    text-align:justify;
    margin-top: -50%;
    margin-left: 35px;
    font-weight: 1000;

}

.card-title {
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 37px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 36px;
    margin-left: 35px;
    position: absolute;


}

.card-content {
    height: 30px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    text-align: justify;
    vertical-align: center;
    margin-left: 35px;
    margin-top: -30%;

}

.text {
width: 306px;
height: 25px;
color: rgb(134, 135, 168);
font-size: 24px;
font-weight: 800;
letter-spacing: 0px;
line-height: 20px;
margin-left: 35px;

}

.date{

    width: 87px;
height: 20px;
color: rgb(15, 21, 47);
font-size: 14px;
font-family: Gilroy-Light;
font-weight: 300;
letter-spacing: 0px;
line-height: 20px;
} 

.teaching-list{
border-radius: 7px;
background-color:#f6f6f9;
width: 356px;
height: 77px;
border-radius: 7px;
}

.item-img{
    width: 54px;
height: 54px;
border-radius: 10px;
}
